.presence-regions {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
  overflow-x: hidden;
}

.presence-regions__box {
  width: 100%;
  margin: 0 auto;

  @media #{$min-xs} {
    width: 90%;
  }

  @media #{$min-md} {
    width: 100%;
  }
}

.presence-regions__list {
  @include margin-top-adaptive(0, 45px, 70px);
  padding-left: 1rem;
  columns: 125px 2;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @media #{$min-sm} {
    column-gap: 60px;
  }

  @media #{$min-md} {
    margin-left: unset;
    column-gap: 70px;
  }

  @media #{$min-xl} {
    column-gap: 150px;
  }

  @media (max-height: 450px) and (orientation: landscape) {
    columns: 125px 3;
    column-gap: 30px;
  }
}

.presence-regions__item {
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  padding-top: 0.5dvh;

  &:hover {
    @media #{$mouse-device} {
      color: $link-color--hover;
    }
  }

  &:active {
    color: $link-color--pressed;
  }
}

.presence-regions__map {
  width: 100%;
  display: inline-block;
  margin-top: -120px;

  @media #{$landscape-h550} {
    margin-top: -250px;
  }

  @media #{$min-md} {
    margin-top: -120px;
  }

  @media #{$min-lg} {
    margin-top: -250px;
    margin-left: -100px;
  }

  @media #{$min-xl} {
    margin-top: -300px;
    margin-left: -150px;
  }

  img {
    width: 135%;
  }
}