.news {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
}

.news__slider {
  width: 100%;
}

.news__list {
  padding: 0;
  @include padding-top-adaptive(30px, 40px, 60px);
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media #{$min-xl} {
    row-gap: 50px;
  }
}

.news__list-item {
  height: 100%;
}

.news__pagination {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: min-content;
  margin: auto;
  @include padding-top-adaptive(30px, 50px, 70px);

  &-link {
    color: rgba(255, 255, 255, 0.50);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }
}


