.products {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
  overflow: hidden;
}

.products__slider {
  @include padding-top-adaptive(30px, 40px, 95px);
  position: relative;
}

.products__product-content {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: baseline;
  display: flex;
}

.products__product-photo {
  width: 90%;
  margin: auto;

  img {
    width: 100%;
  }
}

.products__product-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  * {
    white-space: pre-wrap;

    &:hover {
      @media #{$mouse-device} {
        color: $link-color--hover;
      }
    }
  }

  @media #{$min-md} {
    text-align: left;
    row-gap: 20px;
  }

  @media #{$landscape-h550} {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
  }
}

.products__product-price {
  @include adaptiv-font-size($font-size--lg, $font-size--xl);
}