.hero {
  background-image: none;
  @media #{$min-sm} {
    background-image: url("../../img/hero-md (6).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    text-shadow: 0 0 10px black;
  }

  @media #{$min-md} {
    background-position: 50%;
  }

  @media #{$min-xxl} {
    background-image: url("../../img/hero-xl (6).jpg");
    height: 650px;

  }

  &--ethnomophoages {
    @media #{$min-sm} {
      background-image: url("../../img/hero-md (1).jpg");
    }

    @media #{$min-xxl} {
      background-image: url("../../img/hero-xl (1).jpg");
    }
  }

  &--atomize {
    @media #{$min-sm} {
      background-image: url("../../img/hero-md (5).jpg");
    }

    @media #{$min-xxl} {
      background-image: url("../../img/hero-xl (5).jpg");
    }
  }
}

.hero__mobile-picture {
  min-height: 270px;
  background-image: url("../../img/hero-md (6).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  
  @media #{$min-xs} {
    background-position: 100%;
  }

  &--ethnomophoages {
    background-image: url("../../img/hero-md (1).jpg");
  }

  &--atomize {
    background-image: url("../../img/hero-md (5).jpg");
  }
}

.hero__text-content {
  padding: 5vh 0 5vh 0;
}

.hero__main-header {
  text-align: center;

  @media #{$min-sm} {
    text-align: left;
  }
}

.hero--svg {
  display: block;
  width: max-content;
  min-width: 315px;
  max-width: 946px;
  max-height: 50px;
  position: absolute;
  left: 0;

  @media #{$min-md} {
    width: 50vw;
    max-height: 120px;
  }
}

.hero__statistic {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 50%;
  grid-template-areas:
        "num1 num2 num3"
        "txt1 txt2 txt3";
  column-gap: 1vw;
  row-gap: 1vh;
  max-width: max-content;
  margin: auto;
  padding-top: 60px;

  @media #{$min-md} {
    padding-top: 120px;
  }
}

.hero__num {
  @include adaptiv-font-size(48, 18);
  @include adaptiv-font-lh(48, 18);
  font-weight: 400;
  white-space: nowrap;

  &--1 {
    grid-area: num1;
  }
  &--2 {
    grid-area: num2;
  }
  &--3 {
    grid-area: num3;
  }
}

.hero__txt {
  @include adaptiv-font-size(24, 14);
  @include adaptiv-font-lh(24, 17);
  font-weight: 400;
  white-space: nowrap;

  &--1 {
    grid-area: txt1;
  }
  &--2 {
    grid-area: txt2;
  }
  &--3 {
    grid-area: txt3;
  }
}

/* page ethnomophoages*/
.hero__statistic--ethnomophoages {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
        "soy sunflower"
        "beet corn"
        "rape fruits";
  @include adaptiv-font-size(24, 18);
  row-gap: clamp(10px, 1vh, 40px);
  padding-top: min(5vh, 60px);

  @media #{$landscape-h550}, #{$min-lg}  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "soy sunflower beet"
        "corn rape fruits";
  }

  @media #{$min-sm} {
    margin: 0;
    max-width: 100%;
  }
}

.hero__plants {
  display: flex;
  column-gap: 5px;

  &-soy {
    grid-area: soy;
  }

  &-beet {
    grid-area: beet;
  }

  &-rape {
    grid-area: rape;
  }

  &-sunflower {
    grid-area: sunflower;
  }

  &-corn {
    grid-area: corn;
  }

  &-fruits {
    grid-area: fruits;
  }

  &-icon {
    @include icon-size-adaptive(30px, 30px, 40px);
    display: inline-block;
    flex: 0 0 auto;
  }

  &-text {
    display: inline-block;
  }
}

.hero__paragraph {
  @include adaptiv-font-size(24, 18);
  line-height: 27px;
  margin: 0;
  padding-top: min(5vh, 60px);

  @media (min-width: 400px), #{$landscape-h550} {
    text-align: center;
  }

  @media #{$min-sm} {
    text-align: left;
  }
}