.work-stages {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);

  @media #{$min-md} {
    background-image: url("data:image/svg+xml,%3Csvg width='613' height='617' viewBox='0 0 613 617' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_237_170)'%3E%3Cpath d='M392.273 257.488C393.469 231.419 373.507 207.123 354.434 213.307C335.361 219.49 319.973 237.849 318.016 255.674C316.058 273.5 348.122 263.421 362.43 269.614C376.776 275.896 391.678 269.789 392.273 257.488Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M313.008 209.578C294.991 217.07 296.214 235.191 284.593 250.324C277.8 259.218 278.647 264.084 280.556 268.688C283.668 276.007 297.802 280.729 303.283 282.17C319.954 286.708 346.704 284.454 360.796 293.808C385.764 310.279 401.619 279.001 407.952 262.866C416.098 242.254 411.257 226.896 398.364 218.476C369.446 199.883 369.43 186.258 313.008 209.578Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M369.17 186.228C359.466 174.087 334.786 187.599 292.721 194.709C260.907 200.106 268.997 235.228 249.112 259.268C228.655 284.089 243.977 287.612 266.208 294.602C291.081 302.527 338.28 300.202 361.67 318.388C396.83 345.685 414.98 288.444 426.404 268.38C442.923 239.402 433.494 223.445 417.168 212.034C400.357 200.417 375.983 194.803 369.17 186.228Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M378.939 172.754C369.384 152.37 334.12 172.166 273.681 180.106C228.83 185.954 242.943 235.261 214.812 268.201C184.99 302.945 207.468 308.42 242.559 313.969C278.502 319.664 335.156 318.567 363.378 342.331C408.571 380.443 429.248 297.549 445.715 273.483C471.093 236.4 458.346 218.278 437.027 205.655C415.63 192.856 385.307 186.239 378.939 172.754Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M465.565 277.223C499.788 232.262 483.609 211.722 457.514 197.8C431.31 183.927 395.152 176.584 389.23 157.89C380.062 129.502 333.751 155.465 255.04 164.217C197.073 170.675 217.294 234.071 180.859 275.813C141.987 320.635 171.698 328.22 219.241 331.969C266.895 335.669 332.53 335.571 365.577 364.892C420.683 413.818 444.195 305.328 465.565 277.223Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M229.438 155.855C171.817 172.037 174.021 231.669 140.11 275.96C106.128 320.388 128.769 334.266 169.842 348.977C193.014 357.261 229.92 352.817 265.858 352.69C305.59 352.556 339.876 360.517 359.084 392.94C396.658 456.48 463.547 318.52 482.453 282.902C508.943 233.088 490.37 208.892 461.992 190.633C433.506 172.423 396.479 160.638 389.877 136.578C380.094 100.907 314.902 131.908 229.438 155.855Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M205.659 146.853C148.261 171.864 132.335 228.716 101.14 275.632C71.8296 319.711 86.9277 342.559 122.445 365.686C147.108 381.753 195.635 371 243.333 367.244C293.57 363.306 336.727 369.987 354.846 420.636C381.066 494.299 485.773 331.662 501.793 288.025C521.722 233.706 499.673 205.218 468.887 182.721C438.101 160.224 400.203 143.838 393.015 114.315C382.344 71.6105 298.393 106.436 205.659 146.853Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3Cpath d='M184.155 140.281C126.786 173.59 92.65 228.021 64.2183 277.6C39.2515 321.112 46.0072 354.088 76.9041 384.53C101.952 409.157 163.192 391.38 222.617 383.984C283.252 376.365 337.66 380.986 352.362 450.512C369.969 533.685 510.46 347.031 522.82 295.45C536.96 236.659 510.578 203.998 477.522 177.252C444.428 150.419 405.62 129.599 397.859 94.6497C386.758 44.7743 283.45 82.5312 184.155 140.281Z' stroke='%23F2F1F1' stroke-opacity='0.05' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_237_170'%3E%3Crect width='532.937' height='437.739' fill='white' transform='matrix(0.913653 -0.406495 0.405067 0.914287 -52 216.636)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: repeat-y;
    background-position: center 0;
  }

  @media #{$min-xl} {
    background-image: none;
  }
}

.work-stages__background-element {
  @media #{$min-md} {
    display: none;

    &-2 {
      display: none;
    }
  }

  @media #{$min-xl} {
    display: block;
    right: -10%;
    bottom: 5%;

    &-2 {
      display: block;
      right: 50%;
    }
  }
}

.work-stages__slider {
  padding-top: max(7vh, 30px);
}

.work-stages__slides-track {
  row-gap: 40px;

  @media #{$min-md} {
    justify-content: center;
  }
}

.work-stages__slide {
  width: 100%;
  background-color: transparent;

  @media #{$min-md} {
    height: auto;
    width: fit-content;
  }

  @media #{$min-xl} {
    width: calc((100% - 60px) / 4);
  }
}

.work-stages__slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: clamp(30px, 5vw, 50px);
  row-gap: clamp(30px, 5vh, 50px);
  position: relative;

  @media #{$min-md} {
    flex-direction: row;
  }

  @media #{$min-xl} {
    flex-direction: column;
  }

  &--even-numbered {
    .work-stages__slide-text {
      order: 1;
    }

    .work-stages__slide-podscript {
      order: 2;
    }

    @media #{$min-md} {
      .work-stages__slide-text {
        order: 2;
      }

      .work-stages__slide-podscript {
        order: 1;
      }
    }
  }
}

.work-stages__slide-text {
  padding: 30px 30px 30px 80px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  background-color: #1E1D1D;
  position: relative;

  @media #{$min-md} {
    padding: 30px 30px 30px 60px;
    height: 202px;
    width: 50%;
  }

  @media #{$min-xl} {
    width: 100%;
  }
}

.work-stages__numeric-count {
  counter-set: num;
}

.work-stages__numeric:before {
  left: 20px;
}

.work-stages__slide-podscript {
  color: rgba(70, 70, 70, 0.30);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media #{$min-md} {
    width: 50%;
  }

  @media #{$min-xl} {
    width: 100%;
  }
}

.work-stages__slide-podscript,
.work-stages__slide-text {
  max-width: 311px;
  min-width: 290px;
  height: 202px;
}

.work-stages__slide-arrow {
  display: none;

  @media #{$min-md} {
    display: block;
    width: fit-content;
    position: absolute;
    top: 75%;
    left: 85%;
    z-index: 2;
  }

  &-icon {
    width: 144px;
    height: 133px;
  }

  &--rotate {
    transform: rotate(90deg);
    left: -32%;

    @media #{$min-xl} {
      transform: rotate(-90deg);
      left: 75%;
      top: -45%;
    }
  }
}
