.partners {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
}

.partners__container {
  overflow: hidden;
}

.partners__list {
  @include padding-top-adaptive(20px, 40px, 60px);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 100px;

  animation-name: marquee-to-left;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-direction: normal;
}

.partners__list-item {
  flex: 1 0 auto;
}

.partners__logo {
  width: 100%;
}