.qualities {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
  overflow: hidden;
}

.qualities__slider {
  @include padding-top-adaptive(30px, 40px, 95px);
  position: relative;
}

.qualities__slide-content {
  padding: 30px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media #{$min-md} {
    text-align: left;
    row-gap: 20px;
  }

  &--left {
    text-align: left;
  }
}

.qualities__slide-headline {
  white-space: nowrap;
}

.qualities__slide-image {
  @include icon-size-adaptive(30px, 40px, 40px);
  display: inline-block;
}

.qualities__slide-header {
  display: inline;
  padding-left: 12px;
  line-height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}

.qualities__dividing-line {
  color: $color-accent--bright;
  height: 1px;
}

.qualities__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.qualities__list-item {
  position: relative;
  line-height: 170%v;
}