.qualities {
  @include padding-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
}

.qualities__slider {
  @include padding-top-adaptive(30px, 40px, 95px);
  position: relative;
}

.qualities__slide-content {
  @include padding-adaptive(30px 40px, 40px 50px);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  white-space: wrap;

  @media #{$min-md} {
    text-align: left;
    row-gap: 20px;
  }

  &--left {
    text-align: left;
  }
}

.qualities__slide-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  @media #{$min-md} {
    justify-content: left;
  }

  &:has(.qualities__dividing-line) {
    flex-wrap: wrap;
  }
}

.qualities__slide-icon {
  @include icon-size-adaptive(30px, 45px, 47px);
  display: inline-block;
  flex: 0 0 auto;
}

.qualities__slide-header {
  display: inline;
  padding-left: 12px;
  line-height: 30px;
  vertical-align: middle;
  white-space: normal;
}

.qualities__dividing-line {
  color: $color-accent--bright;
  height: 1px;
  width: 100%;
}

.qualities__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.qualities__list-item {
  position: relative;
  line-height: 170%v;
}