.main-navbar {
  display: flex;
}

.main-navbar__logo {
  max-width: 72px;
  min-width: 33px;
  height: 100%;
}

.main-navbar__phone {
  display: flex;
}

.main-navbar__social-networks {
  display: flex;
}

.main-navbar__lang {
  display: flex;
}

.main-navbar__user-nav {
  display: flex;
}

.main-navbar__dropdown-menu {

}

.main-navbar__site-nav {

}

.main-navbar__messengers-list {
  display: flex;
}