.page__body {
  font-family: $font-family--base;
  @include adaptiv-font-size($paragraph-font-size, $paragraph-font-size--mobile);
  @include adaptiv-font-lh($paragraph-line-height, $paragraph-line-height--mobile);
  font-weight: $font-weight--light;
  color: $text-color--main;

  background-color: $bg-primary;

  min-width: 320px;
  height: 100%;
  box-sizing: border-box;
}

.page__header {
  background-color: $bg-secondary;
  position: sticky;
  top: 0;
}