.page__body {
  font-family: $font-family--base;
  @include adaptiv-font-size($paragraph-font-size, $paragraph-font-size--mobile);
  @include adaptiv-font-lh($paragraph-line-height, $paragraph-line-height--mobile);
  font-weight: $font-weight--light;
  background-color: $bg-primary;
  color: $text-color--main;
  min-width: 320px;
  height: 100%;
}

.page__header {
  background-color: $bg-secondary;
}