.page__body {
  font-family: $font-family--base;
  @include adaptiv-font-size($paragraph-font-size, $paragraph-font-size--mobile);
  @include adaptiv-font-lh($paragraph-line-height, $paragraph-line-height--mobile);
  font-weight: $font-weight--light;
  color: $text-color--main;
  hyphens: auto;

  background-color: $bg-primary;

  min-width: 320px;
  height: 100%;
  box-sizing: border-box;
  scrollbar-gutter: auto;
}

.page__header {
  background-color: $bg-secondary;
  position: sticky;
  top: 0;
  z-index: 3;
}

.page__footer {
  @include margin-top-adaptive($section-padding--mobile, $section-padding--tablet, $section-padding);
  background-color: $bg-secondary;
  border-top: 1px solid $color-accent--bright;
}

