.product-card__content {
  display: grid;
  grid-template-columns: 1vw 1fr 1fr 1vw;
  grid-template-rows: 1fr 50px 0fr 0fr 80px auto;
  grid-template-areas:
        "photo photo photo photo"
        ". name name name"
        ". brand brand ."
        ". model model ."
        ". price price ."
        "button button button button";
  align-items: center;
  padding: 20px 20px 60px 20px;

  @media #{$min-lg} {
    grid-template-columns: 65px 1fr 1fr 65px;
  }

  &--minicart {
    padding: 0;
  }
}

.product-card__photo {
  grid-area: photo;
  img {
    width: 100%;
  }
}

.product-card__name {
  grid-area: name;
}

.product-card__brand {
  grid-area: brand;
}

.product-card__model{
  grid-area: model;
}

.product-card__price {
  grid-area: price;
  @include adaptiv-font-size($font-size--lg, $font-size--xl);
}

.product-card__button {
  grid-area: button;
}