.product-card__content {
  display: grid;
  grid-template-columns: 1vw 1fr 1fr 1vw;
  grid-template-rows: 1fr 50px 0fr 0fr 80px auto;
  grid-template-areas:
        "photo photo photo photo"
        ". name name name"
        ". brand brand ."
        ". model model ."
        ". price price ."
        "button button button button";
  align-items: center;
  padding: 20px 20px 60px 20px;

  @media #{$min-lg} {
    grid-template-columns: 65px 1fr 1fr 65px;
  }

  &--minicart {
    padding: 0 0 20px 0;
    grid-template-columns: 1fr 1fr 5vw;
    grid-template-rows: 20px 1fr 50px 0fr 0fr 50px;
    grid-template-areas:
        ". . delete"
        "photo photo photo"
        "name name name"
        "brand brand ."
        "model model ."
        "price quantity .";

    @media #{$landscape-h550} {
      justify-items: center;
    }

    @media #{$min-md} {
      grid-template-columns: 1fr 1fr 1fr auto;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "photo name . delete"
        "photo model quantity price"
    }
  }
}

.product-card__photo {
  grid-area: photo;
  img {
    width: 100%;
  }
}

.product-card__name {
  grid-area: name;
}

.product-card__brand {
  grid-area: brand;
  @media #{$min-md} {
    display: none;
  }
}

.product-card__model{
  grid-area: model;
}

.product-card__price {
  grid-area: price;
  @include adaptiv-font-size($font-size--lg, $font-size--xl);
}

.product-card__button {
  grid-area: button;
}

.product-card__delete {
  grid-area: delete;
  width: min-content;
  height: min-content;
  fill: white;
  cursor: pointer;

  @include mouse-devices-hover;

  &-icon {
    width: 13px;
    height: 17px;
  }

  @media #{$min-md} {
    justify-self: end;
    align-self: start;
  }
}

.product-card__quantity {
  grid-area: quantity;
  width: 70px;
  display: flex;
  justify-content: space-around;
  border: 1px solid $medium-gray;
  text-align: center;
  justify-self: center;

  &-minus {
    width: 15px;
  }

  &-num {
    width: 15px;
  }

  &-plus {
    width: 15px;
  }

  &-minus,
  &-plus {
    cursor: pointer;
    @include mouse-devices-hover;
  }
}