.slider__container {
  height: fit-content;
  margin: 0 auto 0;

  user-select: none;
  touch-action: pan-y;
}

.slider__slides {
  width: 100%;
  overflow-x: hidden;
}

.slider__slides-track {
  display: flex;
  column-gap: 20px;

  @media #{$min-md} {
    flex-wrap: wrap;
    gap: 20px 20px;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }
}

.slider__slide {
  width: 100%;
  height: auto;
  background-color: $bg-info;

  flex-shrink: 0;

  &--news {
    background-color: transparent;
  }

  @media #{$min-md} {
    height: auto;
    width: calc((100% - 20px) / 2);
  }

  @media #{$min-xl} {
    width: calc((100% - 40px) / 3);
  }

  &--greenlight {
    &:active {
      background-color: $bg-slide--active;
      color: $color-primary;
    }
  }
}

.slider__pagination {
  max-width: 160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  &--tile {
    @media #{$min-md} {
      display: none;
    }
  }

  &--carusel {
    @media #{$min-xl} {
      display: none;
    }
  }



}

.slider__dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $bg-dots;
  cursor: pointer;

  &--active {
    background-color: $bg-dots--active;
  }
}
