.slider__container {
  height: fit-content;
  margin: 0 auto 0;
  user-select: none;
  touch-action: pan-y;
  width: 100%;
}

.slider__slides {
  width: 100%;
  overflow-x: hidden;

  &--visible{
    overflow-x: visible;
  }
  &:has(.slider__slides-track--two-columns){
    @media #{$min-lg} {
      width: 90%;
      margin: auto;
    }
  }
}

.slider__slides-track {
  display: flex;
  justify-content: left;
  gap: 20px;

  @media #{$min-md} {
    flex-wrap: wrap;
  }

  @media #{$min-xl} {
    justify-content: center;
  }

  &--nowrap {
    flex-wrap: nowrap;
    justify-content: left;
  }

  &--two-columns {
    --columns: two;

    @media #{$min-xl} {
      justify-content: space-between;
      row-gap: clamp(20px, 5vh, 80px);
    }
  }
}

.slider__slide {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background-color: $bg-info;

  &--news {
    background-color: transparent;
  }

  @media #{$min-md} {
    height: auto;
    min-height: 260px;
    width: calc((100% - 3vw) / 2);
  }

  @media #{$min-xl} {
    width: calc((100% - 4vw) / 3);

    @container style(--columns: two) {
      width: calc((100% - 3vw) / 2);
    }
  }

  &--qualities {
    width: 300px;

    @media #{$min-sm} {
      height: auto;
      width: 422px;
    }

    @media #{$min-xl} {
      height: auto;
      width: calc((100% - 40px) / 3);
    }
  }

  &--spraing {
    max-width: 500px;
    max-height: 688px;
  }

  &:has(.product-card, .news-card) {
    @media #{$min-xxl} {
      min-width: 415px;
    }
  }

  &--greenlight {
    &:active {
      background-color: $bg-slide--active;
      color: $color-primary;
    }
  }
}

.slider__pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-top: 30px;

  &--tile {
    @media #{$min-md} {
      display: none;
    }
  }

  &--carusel {
    @media #{$min-xl} {
      display: none;
    }
  }

  &--qualities {
    @media #{$min-lg} {
      display: none;
    }
  }
}

.slider__dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $bg-dots;
  cursor: pointer;

  &--active {
    background-color: $bg-dots--active;
  }
}
