.slider__container {
  height: fit-content;
  margin: 0 auto 0;
  user-select: none;
  touch-action: pan-y;
  width: 100%;
}

.slider__slides {
  width: 100%;
  overflow-x: hidden;

  &--qualities {
    overflow-x: visible;
  }
}

.slider__slides-track {
  display: flex;
  column-gap: 20px;

  @media #{$min-md} {
    flex-wrap: wrap;
    gap: 20px 20px;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }
}

.slider__slide {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background-color: $bg-info;

  &--news {
    background-color: transparent;
  }

  @media #{$min-md} {
    height: auto;
    width: calc((100% - 20px) / 2);
  }

  @media #{$min-xl} {
    width: calc((100% - 40px) / 3);
  }

  &--qualities {
    width: 300px;

    @media #{$min-sm} {
      height: auto;
      width: 422px;
    }

    @media #{$min-xl} {
      height: auto;
      width: calc((100% - 40px) / 3);
    }
  }

  &--greenlight {
    &:active {
      background-color: $bg-slide--active;
      color: $color-primary;
    }
  }
}

.slider__pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-top: 30px;

  &--tile {
    @media #{$min-md} {
      display: none;
    }
  }

  &--carusel {
    @media #{$min-xl} {
      display: none;
    }
  }

  &--qualities {
    @media #{$min-lg} {
      display: none;
    }
  }
}

.slider__dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $bg-dots;
  cursor: pointer;

  &--active {
    background-color: $bg-dots--active;
  }
}
