/* Типография заголовков */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family--base;
  font-weight: $font-weight--normal;
  text-align: left;
  text-wrap: balance;
  padding: 0;
  margin: auto 0;
}

h1 {
  font-size: #{$h1-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h1-font-size, $h1-font-size--mobile);
    @include adaptiv-font-lh($h1-line-height, $h1-line-height--mobile);
  }
}

h2 {
  color: $text-color--bright;
  font-size: #{$h2-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h2-line-height, $h2-font-size--mobile);
  }
}

h3 {
  font-size: #{$h3-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h3-font-size, $h3-font-size--mobile);
    @include adaptiv-font-lh($h3-line-height, $h3-line-height--mobile);
  }
}

h4 {
  font-size: #{$h4-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h4-font-size, $h4-font-size--mobile);
    @include adaptiv-font-lh($h4-line-height, $h4-line-height--mobile);
  }
}

h5 {
  font-size: #{$h5-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h5-font-size, $h5-font-size--mobile);
    @include adaptiv-font-lh($h5-line-height, $h5-line-height--mobile);
  }
}

h6 {
  font-size: #{$h6-font-size--mobile}px;

  @media #{$min-md} {
    @include adaptiv-font-size($h6-font-size, $h6-font-size--mobile);
    @include adaptiv-font-lh($h6-line-height, $h6-line-height--mobile);
  }
}

h7 {
  font-size: #{$h7-font-size--mobile}px;

  @media #{$min-md} {
    @include adaptiv-font-size($h7-font-size, $h7-font-size--mobile);
  }
}

.headline {
  position: relative;
}

.h2-podscription {
  display: inline-block;
  height: 100%;
  width: 100%;
  @include adaptiv-font-size($h2-podscription-font-size, $h2-podscription-font-size--mobile);
  color: $text-color--transparent;
  font-weight: $font-weight--bold;
  text-align: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* Теговые стили */
* {
  user-select: none;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;

  color: $link-color;
  line-height: 1;
  text-wrap: nowrap;
  text-align: center;

  text-decoration: none;

  @include mouse-devices-hover;
}


/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

/* Вырубает блок */
.cut-down {
  display: none !important;
}

/* Стопим прокрутку body */
.body-overflow-hidden {
  overflow: hidden;

  &--md {
    @media #{$md} {
      overflow: hidden;
    }
  }
}

/* Рамки к картинкам */
.picture-wrapper-outer {
  display: inline-block;
  width: 100%;
  position: relative;
  border: 2px solid $bright-green;
  transition: all .3s ease;

  @media #{$landscape-h550} {
    height: 100dvh;
  }
}

.picture-wrapper-outer:before,
.picture-wrapper-outer:after {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  background: $bg-primary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.picture-wrapper-outer:before {
  width: calc(100% + 6px);
  height: 80%;
  transition: height 0.6s;
}
.picture-wrapper-outer:after {
  height: calc(100% + 6px);
  width: 90%;
  transition: width 0.6s;
}
.picture-wrapper-outer:hover:before,
.picture-wrapper-outer:focus:before {
  height: 50%;
}
.picture-wrapper-outer:hover:after,
.picture-wrapper-outer:focus:after {
  width: 75%;
}
.picture-wrapper-inner {
  padding: 20px;
  height: 100%;
  z-index: 2;
  position: relative;
  text-align: center;
}

/* Вешаю на контейнер чтобы выравнивать фоновые элементы */
.position-relative {
  position: relative;
}

/* Фоновые элементы */
.background-element {
  position: absolute;
  z-index: -1;
  display: none;

  &--drones {
    left: 80%;
    top: -44px;

    @media #{$min-md} {
      display: block;
    }

     @media #{$min-xl} {
       left: 88%;
       top: 14px;
    }

    .background-element__svg {
      width: 265px;
      height: 265px;
    }
  }

  &--relief {
    right: -35%;
    bottom: -18%;

    @media #{$min-md} {
      display: block;
    }

    @media #{$min-xl} {
      right: -25%;
    }

    .background-element__svg {
      width: 656px;
      height: 539px;
    }
  }

  &--solved-problems {
    right: -10%;
    bottom: -30%;
  }
}

/* Боковые элементы */
.aside-element {
  display: none;

  height: 100px;

  color: rgba(70, 70, 70, 0.15);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 100% */
  text-transform: uppercase;
  position: absolute;

  &--left {
    transform: rotate(-90deg);
    left: -300px;
    top: 45%;
  }

  @media #{$min-lg} {
    display: block;
  }
}