h1, h2, h3, h4, h5, h6 {
  font-family: $font-family--base;
  font-weight: $font-weight--normal;
  text-align: left;
  text-wrap: balance;
}

h1 {
  font-size: #{$h1-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h1-font-size, $h1-font-size--mobile);
    @include adaptiv-font-lh($h1-line-height, $h1-line-height--mobile);
  }
}

h2 {
  color: $text-color--bright;
  font-size: #{$h2-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h2-line-height, $h2-font-size--mobile);
  }
}

h3 {
  font-size: #{$h3-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h3-font-size, $h3-font-size--mobile);
    @include adaptiv-font-lh($h3-line-height, $h3-line-height--mobile);
  }
}

h4 {
  font-size: #{$h4-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h4-font-size, $h4-font-size--mobile);
    @include adaptiv-font-lh($h4-line-height, $h4-line-height--mobile);
  }
}

h5 {
  font-size: #{$h5-font-size--mobile}px;
  @media #{$min-md} {
    @include adaptiv-font-size($h5-font-size, $h5-font-size--mobile);
    @include adaptiv-font-lh($h5-line-height, $h5-line-height--mobile);
  }
}

.headline {
  position: relative;
}

.h2-podscription {
  display: inline-block;
  height: 100%;
  width: 100%;
  @include adaptiv-font-size($h2-podscription-font-size, $h2-podscription-font-size--mobile);
  color: $text-color--transparent;
  font-weight: $font-weight--bold;
  text-align: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;

  color: $link-color;
  line-height: 1;

  text-decoration: none;
}

/* Выравнивание бэкграунда в секциях */

.svg-bg {
  display: none;
  width: 265px;
  height: 265px;
  position: absolute;
  z-index: -1;

  @media #{$min-xl} {
    display: inline;
  }

  &--drones {
    transform: translate(50%, 0%);
    right: 0;
    top: 0;
  }

  &--relief {
    transform: translate(50%, 0%);
    right: 0;
    top: 0;
    width:819px;
    height:760px;
  }

  &--side-text {
    transform: translate(50%, 0%);
    left: 0;
    top: 0;
  }

  &--side-text--right {
    transform: translate(50%, 0%);
    right: 0;
    top: 0;
  }
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

/* Прячет но оставляет доступным содержимое */
.visually-hidden {
  position: absolute;

  width: 1px !important;
  height: 1px;

  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

/* Вырубает */
.cut-down {
  display: none !important;
}

/* Стопим прокрутку body*/
.body-overflow-hidden {
  @media #{$sm} {
    overflow: hidden;
  }
}

/* Вешаю на контейнер чтобы выравнивать фон */
.position-relative {
  position: relative;
}
