@font-face {
  font-family: RF Rufo;
  font-style: normal;
  font-display: auto;
  src: local('RFRufo'),
    url('../fonts/RF Rufo/RFRufo-Regular.woff2') format('woff2'),
    url('../fonts/RF Rufo/RFRufo-Regular.woff') format('woff'),
    url('../fonts/RF Rufo/RFRufo-Regular.ttf') format('truetype'),
    url('../fonts/RF Rufo/RFRufo-Regular.eot') format('embedded-opentype');
}