$maxWidth: 1920;
$minWidth: 320;

/* adaptiv-font-size */
@mixin adaptiv-font-size($startSize, $endSize) {
  $addSize: $startSize - $endSize;
  $maxWidth: $maxWidth - $minWidth;
  font-size: min(calc(#{$endSize}px + #{$addSize} * ((100vw - 320px) / #{$maxWidth})), #{$startSize}px);
}


/* adaptiv-font-line-height */
@mixin adaptiv-font-lh($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - $minWidth;
  line-height: min(calc(#{$mobSize}px + #{$addSize} * ((100vw - 320px) / #{$maxWidth})), #{$pcSize}px);
}

/* icon-sizes */
@mixin icon-size-adaptive($mobSize, $tabSize:$mobSize, $pcSize:$tabSize) {

  width: $mobSize;
  height: $mobSize;

  @media #{$min-md} {
    width: $tabSize;
    height: $tabSize;
  }

  @media #{$min-xl} {
    width: $pcSize;
    height: $pcSize;
  }
}

