$maxWidth: 1920;
$minWidth: 320;

/* adaptiv-font-size */
@mixin adaptiv-font-size($startSize, $endSize) {
  $addSize: $startSize - $endSize;
  $maxWidth: $maxWidth - $minWidth;
  font-size: min(calc(#{$endSize}px + #{$addSize} * ((100vw - 320px) / #{$maxWidth})), #{$startSize}px);
}


/* adaptiv-font-line-height */
@mixin adaptiv-font-lh($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - $minWidth;
  line-height: min(calc(#{$mobSize}px + #{$addSize} * ((100vw - 320px) / #{$maxWidth})), #{$pcSize}px);
}

/* icon-sizes */
@mixin icon-size-adaptive($mobSize, $tabSize:$mobSize, $pcSize:$tabSize) {
  width: $mobSize;
  height: $mobSize;

  @media #{$min-md} {
    width: $tabSize;
    height: $tabSize;
  }

  @media #{$min-xl} {
    width: $pcSize;
    height: $pcSize;
  }
}

@mixin padding-adaptive($mobSize, $tabSize:$mobSize, $pcSize:$tabSize) {
  padding:$mobSize;

  @media #{$min-md} {
    padding: $tabSize;
  }

  @media #{$min-xl} {
    padding: $pcSize;
  }
}

@mixin padding-top-adaptive($mobSize, $tabSize:$mobSize, $pcSize:$tabSize) {
  padding-top:$mobSize;

  @media #{$min-md} {
    padding-top: $tabSize;
  }

  @media #{$min-xl} {
    padding-top: $pcSize;
  }
}

@mixin padding-bot-adaptive($mobSize, $tabSize:$mobSize, $pcSize:$tabSize) {
  padding-bottom:$mobSize;

  @media #{$min-md} {
    padding-bottom: $tabSize;
  }

  @media #{$min-xl} {
    padding-bottom: $pcSize;
  }
}

/* Использую значения section-padding, для отступа секций с полноэкранным bg */
@mixin margin-top-adaptive($mobSize, $tabSize:$mobSize, $pcSize:$tabSize) {
  margin-top:$mobSize;

  @media #{$min-md} {
    margin-top: $tabSize;
  }

  @media #{$min-xl} {
    margin-top: $pcSize;
  }
}

/* hover */
@mixin mouse-devices-hover {
  &:hover {
    @media #{$mouse-device} {
      color: $link-color--hover;
      fill: $link-color--hover;
    }
  }

  &:active {
    color: $link-color--pressed;
    fill: $link-color--pressed;

  }
}
