:root {
  --svg-color: #FFFFFF;
  --svg-color--hover: #02E502;
  --svg-color--active: #01B601;
  --svg-color--dark: #181818;
}

svg {
  width: inherit;
  height: inherit;
}

.svg {
  stroke: var(--svg-color);

  &--green-circle {
    stroke: var(--svg-color--hover);
  }
}

@media #{$mouse-device} {
  a:hover .svg {
    --svg-color: var(--svg-color--hover);
    stroke: var(--svg-color--hover);
  }
}

a:active .svg {
  --svg-color: var(--svg-color--active);
  stroke: var(--svg-color--active);
}

.slider__slide {
  .svg {
    fill: var(--svg-color--hover);
  }
  &:active {
    --svg-color--hover: var(--svg-color--dark);
    transition: all 1s ease 0s;
  }
}