:root {
  --svg-messenger-color: #FFFFFF;
  --svg-messenger-color--hover: #02E502;
  --svg-messenger-color--active: #01B601;
}

.svg {
  stroke: var(--svg-messenger-color);

  &--green-circle {
    stroke: var(--svg-messenger-color--hover);
  }
}

@media #{$mouse-device} {
  a:hover .svg {
    --svg-messenger-color: var(--svg-messenger-color--hover);
    stroke: var(--svg-messenger-color--hover);
  }
}

a:active .svg {
  --svg-messenger-color: var(--svg-messenger-color--active);
  stroke: var(--svg-messenger-color--active);
}
